.image {
    width: 25vw;
}

#testbox {
    height: 25vw;
    background-color: rosybrown;
}

.description {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80vw;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2.5rem;
}

.links {
    color: royalblue;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}