img {
    width: 32vw;
}

.image-small {
    width: 24vw;
}

.image-big {
    width: 40vw;
}

.image-half {
    width:48vw;
}

.title {
    margin-bottom: 20px;
}
.directions {
    font-size: larger;
    color: rgb(17, 0, 255);
    font-style: italic;
    

    margin-top: 20px;
}

.description {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80vw;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2.5rem;
}

.links {
    color: blueviolet;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

.hidden {
    display: none
}