body {
    color: rgb(4, 0, 255);
    background-size: 20vw;
    overflow: hidden;
    font-style: italic;
}

img {
    width: 20vw;    
    margin: 1vw;
}

.splash {
    position: absolute;
    cursor: grab;
}

.splash.grabbing {
    cursor: grabbing;
}

.container {
    width: 90vw;
    height: 90vh;
}